#version=DEVEL
# System authorization
authconfig --enableshadow --passalgo=sha512

# Use cdrom to install
cdrom

# Fresh install
install

# text installation
text

# System language
lang en_US.UTF-8

# System keyboard
keyboard us

# Agree to eula
eula --agreed

# Network config
network --onboot yes --device eth0 --bootproto dhcp --noipv6 --activate

# Root password
rootpw pokify

# System services
services --enabled="chronyd","sshd"
firewall --disabled
selinux --disabled

# System timezone
timezone --utc Etc/GMT

# System bootloader
bootloader --location=mbr --boot-drive=sda

# Partition clearing
clearpart --all --initlabel

# No invalid partitions
zerombr

# Disk partition
part /boot --fstype="xfs" --ondisk=sda --size=1024
part pv.01 --fstype="lvmpv" --ondisk=sda --size=1 --grow
volgroup vg01 pv.01
logvol swap --fstype="swap" --size=2048 --name=swap --vgname=vg01
logvol / --fstype="xfs" --grow --percent 100 --name=root --vgname=vg01

# No X
skipx

# pokify user
user --name=pokify --plaintext --password pokify --groups=wheel

# Reboot after install
reboot

# List of packages to install/remove
%packages
@core
chrony

# unnecessary firmware
-aic94xx-firmware
-atmel-firmware
-b43-openfwwf
-bfa-firmware
-ipw2100-firmware
-ipw2200-firmware
-ivtv-firmware
-iwl100-firmware
-iwl1000-firmware
-iwl3945-firmware
-iwl4965-firmware
-iwl5000-firmware
-iwl5150-firmware
-iwl6000-firmware
-iwl6000g2a-firmware
-iwl6050-firmware
-libertas-usb8388-firmware
-ql2100-firmware
-ql2200-firmware
-ql23xx-firmware
-ql2400-firmware
-ql2500-firmware
-rt61pci-firmware
-rt73usb-firmware
-xorg-x11-drv-ati-firmware
-zd1211-firmware

%end

%post

# sudo config for pokify user
echo "pokify        ALL=(ALL)       NOPASSWD: ALL" >> /etc/sudoers.d/pokify
sed -i "s/^.*requiretty/#Defaults requiretty/" /etc/sudoers

%end
